@charset "utf-8";
/*products.css*/

/*메인 네비*/
.main_navi,
.main_navi a {
    font-size: ;
    color: #767676;
}

.main_navi {
    text-align: right;
    padding: 0 3rem 0 0;
    margin-bottom: 1em;
}

.main_navi a:hover {
    text-decoration: underline;
}


/*메인 헤더 큰박스*/
.main_header_area {
    width: 100%;
    height: auto;
}



/*메인 헤더 속박스*/
.main_header_box {
    width: 1400px;
    height: 400px;
    margin: 0 auto;
    padding-top: 2%;
    box-sizing: border-box;
}


/*메인헤더 컨텐츠*/
.main_header_cont {
    width: 49%;
    height: 320px;
    padding: 0 15px;
    box-sizing: border-box;
    margin-left: 8%;
    position: relative;
}

/*메인헤더제목*/
.main_header_title {
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.main_header_txt p {}

/*아래화살표 버튼*/
.down_arrow {
    width: 38px;
    height: 62px;
    padding: 18px 7px 18px 7px;
    margin-top: 15px;
    display: block;
    box-sizing: border-box;
    background-color: #a8b8a9;
    position: absolute;
    bottom: 0;
    left: 15px;
}

/*아래화살표 버튼 호버*/
.down_arrow:hover {
    background-color: #93a794;
    ;
}

/*아래화살표 버튼 이미지*/
.down_arrow img {
    width: 20px;
    height: 34px;
    margin-left: 2px;
    margin-top: -2px;

}






/*products 인트로 */
.products_intro_area {
    width: 1400px;
    height: 100%;
    margin: 0 auto;
}

/* 인트로 제목 */
.products_intro_area > h2 {
    text-align: center;
    color: #2c2733;
    margin-bottom: 8px;
    font-size: 2rem;
}

/*인트로 전체박스*/
.products_intro_box {
    display: flex;
    padding: 48px 0;
    margin-bottom: 16px;
}

/*전체박스 li*/
.products_intro_box li {
    width: 30%;
    height: 340px;
    position: relative;
    margin-right: 5%;

}

/*마지막li 마진 빼기*/
.products_intro_box li:last-child {
    margin-right: 0;
}

/*호버시 애니메이션 효과 끊김 방지*/
.products_intro_box li > a,
.products_intro_box li > a:hover {
    transition: all .7s ease;
}


/*검정박스*/
.intro_cont {
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 106%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all .7s ease;

}

/*검정박스 클릭시 효과*/
.products_intro_box > li > a:hover .intro_cont {
    transform: scale(0.9);
    transition: all .7s ease;
}


/*첫번째 이미지 크기*/
.bgimg1 {
    width: 100%;
    height: auto;
}

/*박스안 텍스트 및 이미지 박스*/
.intro_tximg {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 38%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    transition: all .7s ease;
}


.intro_tximg.ploc1 {
    padding-top: 31%;
}

.intro_tximg.ploc2 {
    padding-top: 34%;
}



/*박스 안 이미지*/
.introimg1 {
    width: 81px;
    height: 34px;
    transition: all .7s ease;
    z-index: 2;
    position: relative;
}

.introimg2 {
    width: 68px;
    height: 62px;
    transition: all .7s ease;
    z-index: 2;
    position: relative;
}

.introimg3 {
    width: 78px;
    height: 48px;
    transition: all .7s ease;
    z-index: 2;
    position: relative;
}

/*박스 안 제목*/
.intro_tximg h3 {
    margin-bottom: 8px;
    text-align: center;
    color: #fff;
    font-size: 1.75rem;
    opacity: 1;
    transition: all .7s ease;
    z-index: 2;
    position: relative;
}

/*박스 안 이미지 호버시*/
.intro_tximg:hover .introimg1,
.intro_tximg:hover .introimg2,
.intro_tximg:hover .introimg3 {
    transform: scale(1.3);
    transition: all .7s ease;
}

/*박스 안 제목 호버시*/
.intro_tximg:hover .introh3 {
    transform: scale(0.7);
    opacity: 0;
    transition: all .7s ease;
}
